.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  display: none;
  z-index: 9999;
}

.popup-container.popup-open {
  display: block;
}

.popup-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #e5dcd6;
  color: #382b22;
  font-size: 16px;
  font-weight: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}
